body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  /*background: url('../images/background-gray.png');*/
}

.name-logo {
  margin-top: 50px;
}

.name-logo .name {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
}

.iconed img{
  width: 45px;
  float: left;
}

.iconed .iconedBody h1 {
  margin: 0;
}

.user-image {
  width: 150px;
}